*{
    margin: 0;
    box-sizing: border-box;
}
/*estilo h2*/ 

h1 {
    color: #3587ad;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(164, 167, 170, 0.849);
    text-align: center;
    font-size: 40px;
    /* margin-top: 1%; */
    }

/* estilos h3*/

    h3 {
        color: #3587ad;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgba(164, 167, 170, 0.849);
        text-align: left;
        font-size: 30px;  
    }

/* ubicacion batman y header*/

header div {
    text-align: center;
    background-color: rgb(229, 224, 233);
    padding: 1% 0%;
    /* background-repeat: repeat-x repeat-y; */
    /* margin-bottom: -30px; */
}

/*margen del body*/

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    /* justify-content: space-around; */
}


/*footer*/
footer {
    text-align: center;
    background-color: #3587ad;
    display: flex;
    justify-content: center;
}

/*fuentes datos personales*/
li {
    font-weight: bold;
    font-style: italic;
}

