
/*estilo h2*/ 

h1 {
    color: #3587ad;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(164, 167, 170, 0.849);
    text-align: center;
    font-size: 40px;
    line-height: 95%;  
    }

/* estilos h3*/

    h3 {
        color: #3587ad;
        font-family: 'Courier New', Courier, monospace;
        background-color: rgba(164, 167, 170, 0.849);
        text-align: left;
        font-size: 30px;  
    }

/* ubicacion batman y header*/

header div {
    text-align: center;
    line-height: 3;
    background-color: rgb(229, 224, 233);
    background-repeat: repeat-x repeat-y;
    margin-bottom: -30px;
}

/*margen del body*/

body {
    margin: 0%;
}


/*footer*/
footer {
    text-align: center;
    background-color: #3587ad;
}

/*fuentes datos personales*/
li {
    font-weight: bold;
    font-style: italic;
}

